
.header {
    grid-area: h;
    background-color: rgba(8, 155, 118, 0.89); /*цвет строки*/
    }

    .header img { 
         width:  60px; /*размер картинки, котрый лежит в хедере*/
          
       }
