
.header {
    grid-area: h;
    background-color: rgba(19, 126, 233, 0.932); /*цвет строки*/
    }

    .header img { 
         width:  40px; /*размер картинки, котрый лежит в хедере*/
          
       }
